/* Réinitialisation CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Polices Google Fonts */
body {
    font-family: 'Montserrat', sans-serif; /* change Roboto to Montserrat */
    line-height: 1.6;
    color: #333;
    font-size: 16px;
    background: #f4f4f4;
}

header {
    padding: 2rem;
    text-align: center;
    background: #f4f4f4;
    color: #333;
    height: 100vh; /* take up the whole height of the screen */
}

header .container {
    max-width: 960px;
    margin: 0 auto;
}

header img {
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 200px; /* increase the size of profile image */
    height: 200px; /* increase the size of profile image */
}

h1 {
    font-size: 3rem; /* increase the size of the name */
    margin-bottom: 0.5rem;
}

header p, .about-me p {
    font-size: 1.5rem; /* increase the size of the role and about me text */
}

/* Barre de navigation verticale */
#sidebar {
    position: fixed;
    top: 0;
    left: -200px; /* Move it off-screen */
    width: 250px;
    height: 100%;
    background: linear-gradient(to bottom, #A8337C, #5130B0);
    padding: 1rem;
    transition: left 0.3s; /* Animate it into view */
}

#sidebar:hover,
#sidebar.expanded {
    left: 0; /* Move it on-screen when hovered */
}

#sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#sidebar ul li {
    margin-bottom: 1rem;
}

#sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

#sidebar ul li a:hover {
    color: #ddd;
}

/* Sections */
.full-screen-section {
    margin-left: 250px;
    padding: 2rem;
    min-height: 100vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 0.5rem;
}

/* Contact */
#contact a {
    color: #333;
    text-decoration: none;
}

#contact a:hover {
    color: #777;
}

/* Footer */
footer {
    padding: 1rem;
    background: linear-gradient(to left, #5130B0, #A8337C);
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Media Queries */
@media screen and (max-width: 960px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: static;
    }

    .full-screen-section {
        margin-left: 0;
    }

    footer {
        margin-left: 0;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    height: 100vh; /* takes up the whole height of the screen */
}

.profile {
    flex: 1;
    padding-right: 50px;
}

.about-me {
    flex: 1;
    padding-left: 50px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center the about me content */
}



